In [23]:
import pandas as pd
df=pd.read_csv('Titanic.csv')
print(df.head())

   PassengerId                                               Name  Pclass  \
0            1                            Braund, Mr. Owen Harris       3
1            2  Cumings, Mrs. John Bradley (Florence Briggs Th...       1
2            3                             Heikkinen, Miss. Laina       3
3            4       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1
4            5                           Allen, Mr. William Henry       3

      Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked  \
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S

   Survived
0         0
1         1
2         1
3         1
4         0

## Clearly some of the features are not required at all. We drop them.

In [24]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.columns
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [29]:
inputs=df.drop('Survived',axis='columns')
target=df['Survived']
dummies=pd.get_dummies(inputs.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

## Check for na values

In [31]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [37]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [40]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head()

KeyError: "['Sex' 'male'] not found in axis"

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7798507462686567

In [44]:
y_test[0:10]

462    0
822    0
0      0
402    0
586    0
698    0
738    0
210    0
37     0
512    1
Name: Survived, dtype: int64

In [45]:
model.predict(X_test[0:10])

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 0], dtype=int64)